.btn-transp{
  border-color: #282424;
  font-weight: 400;
  text-decoration: none;
  color: #282424;
  border: solid 1px;
  opacity: 0.5;
  margin: 0 auto;
}

.btn-big{
  font-size: 36;
  padding: 20px 25;
}

.btn-transp:hover{
 opacity: 1;
}

.btn-banner{
  border-color: white;
  font-weight: 400;
  font-size: 36;
  text-decoration: none;
  color: white;
  padding: 20px 25;
  border: solid 1px;
  opacity: 1;
}

.btn-banner:hover{
 background-color: #CEAF46;
 border-color: #CEAF46;
 transition: background-color 0.3s ease;
}

.btn-small{
  font-size: 18;
  padding: 15px 20;

}

.btn-navbar:hover{
 opacity: 1;
}
