.cards{
  display: flex;
  justify-content: flex-wrap;
  flex-wrap: wrap;
}


.card{
  background-color: white;
  height: 350px;
  width: 350px;
  padding:10px;
  border-radius: 2px;
  box-shadow: 1px 2px 2px #B3B3B3;
  position: relative;
  flex: 0 0 28%;
  margin:30px 15;
}

.card-image{
  height: 300px;
  widows: 300px;
  background-size: cover;
  background-position: center;
}

.card-name{
  position: absolute;
  bottom:-10px;
  left: 20px;
}

.card-category{
   position: absolute;
  top: 10px;
  left: 10px;
}

.card-decription{
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-hover{
  padding-left: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity:0;
  transition: opacity 0.4s ease;
}
