.footer{
  background-color: #A3D5D5;
  background-size: 100%;
  font-size: 38px;
  text-decoration: none;
  color: white ;
  height: 35vh;
  display: flex;
  justify-content:center;
}

.footer-content{
  color: white ;
  text-align: center;
}
.footer a {
  color: white;
}


