
.navbar-mobile{
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: pink;
  transition: all 0.3s ease;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index:1;
  box-shadow: none;
}


.logo-mobile a{
  font-family: 'Righteous', cursive;
  color: white;
  font-size:12px;
  padding-left: 10px;
}

.bars{
  padding-right: 20px;
  color:white;
}

.navbar-container{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
